* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { color-scheme: dark }

body {
  --scrollbar-width: 0px;
  min-height: 100vh;
  font-family: "Futura", Arial, Helvetica, system-ui, sans-serif;
  /* font-size: 10px; */
}

/* .logo {
  background-image: url('https://cdn.pixabay.com/photo/2021/08/05/18/18/wreath-6524584_1280.png');
  background-repeat: no-repeat;
  background-size: 10rem;
} */

.food > img {
  background-image: url('https://cdn.pixabay.com/photo/2017/11/08/19/01/table-2931360_1280.jpg');
}

nav > button {
  color: orange;
}

/* This doesn't center all the elements under the About section. Could it be because they aren't divs and are more "direct" elements instead? (h2 and p) */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 36px;
  font-weight: 100;
  color: #1F2937;
  margin: 64px;
  padding: 64px;
  max-width: 900px;
}

/* .about > h2 {
  text-align: center;
} */

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e7eb;
  text-align: center;
}

.quote {
  font-size: 36px;
  font-weight: 100;
  color: #1F2937;
  margin: 64px;
  padding: 64px;
  max-width: 900px;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 24px;
  font-weight: 800;
  color: #1F2937;
  margin-top: 48px;
}

.gallery-header {
  text-align: center;
}

.gallery-info {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 120px;
  gap: 64px;
}

.gallery-info > div[class^="gallery-"] > img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}