* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { color-scheme: dark }

body {
  --scrollbar-width: 0px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 10px; */
}

/* .logo {
  background-image: url('https://cdn.pixabay.com/photo/2021/08/05/18/18/wreath-6524584_1280.png');
  background-repeat: no-repeat;
  background-size: 10rem;
} */

.food > img {
  background-image: url('https://cdn.pixabay.com/photo/2017/11/08/19/01/table-2931360_1280.jpg');
}

.home-button {
  color: orange;
}