* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { color-scheme: dark }

body {
  --scrollbar-width: 0px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 10px; */
}

.logo {
  background-image: url('./img/wreath-6524584_640.png');
  background-repeat: no-repeat;
  /* background-size: 10rem; */
}

.food > img {
  background-image: url('./img/table-2931360_1920.jpg');
}

.home-button {
  color: orange;
}